.navbar {
  box-shadow: 0 5px 7px 5px #ececec;
}
.nav li:hover {
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.nav-link {
  font-weight: bold;
  font-size: 17px;
  /* text-transform: uppercase; */
  transform: scale(1.2);
  text-decoration: none;
  color: #6744ff;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 1;
}
.link {
  font-size: 17px;
  color: #6744ff;
}
.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #6744ff;
  border-radius: 5px;
  width: 50%;
  /* opacity: 1; */
}

.nav-link-ltr::before {
  width: 80%;
  bottom: 20px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
