.swiper_container {
  position: relative;
  width: 1200px;
}

.swiper-slide {
  width: 587px;
  /* border: 2px solid red; */
  height: fit-content;
  position: relative;
  /* box-shadow: 0px 8px 24px -3px #0000001a; */
  object-fit: cover;
}
.active-img {
  width: 587px;
  height: 414.87px;
  /* border: 2px solid red; */
}
.img {
  width: 100%;
  height: 100%;
}
.not-active-img {
  width: 383px;
  height: 263.99px;

  object-fit: cover;
  /* border: 2px solid red; */
  margin-top: 55px;
  border-radius: 3px;
}
.swiper-slide.swiper-slide-visible.swiper-slide-prev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(-200px);
  /* margin-right: -100px; */
}
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  display: flex;
  /* margin-left: -100px; */
  align-items: center;
  justify-content: flex-start;

  /* border: 2px solid red; */
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.slider-controler {
  position: relative;
  bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.slider-btn {
  display: flex;
  width: 600px;
  /* border: 2px solid rebeccapurple; */
  position: relative;
  top: -230.54px;
  z-index: 100;
  /* border: 2px solid red; */
  justify-content: space-between;
}
.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-0%) !important;
}
.slider-controler .swiper-button-prev {
  left: 30% !important;
  transform: translateX(-0%) !important;
}
.slider-controler .slider-arrow {
  background: #6647ff;
  color: white;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.slider-controler .slider-btn .slider-arrow .ion-icon {
  width: 7px;
  height: 12px;
  cursor: pointer;
  /* border: 2px solid red; */
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  bottom: 1rem;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 176px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #6647ff;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.animated-description {
  animation: slideIn 300ms ease-in;
  /* border: 2px solid red; */
  text-align: center;
  width: 860px;
  height: 72px;
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #171717;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) and (min-width: 350px) {
  .swiper_container {
    height: 36rem;
    width: 100%;
    /* border: 2px solid red; */
    overflow-x: hidden;
    align-items: center;
  }
  .slider-container {
    padding: 0rem 0rem;
    margin: 0 0;
    height: 34rem;
  }
  .swiper-slide {
    width: 100%;
    height: 376.71px;
    border-radius: 10px;
    /* transform: translateX(35%); */
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 130px;
  }
  .swiper-pagination {
    transform: translateY(-128px);
  }
  .slider-controler {
    bottom: 5rem;
    width: 100%;
  }
  .slider-btn {
    top: -100.54px;
    width: 90%;
  }
  .active-img {
    width: 85%;
    height: 377px;
    transform: translateX(50px);
    -o-object-fit: contain;
    object-fit: contain;
    transform: translate(10%, 0px);
  }
  .not-active-img {
    display: none;
    /* border: 2px solid red; */
  }
  .description {
    width: 90%;
    /* border: 2px solid red; */
    margin-top: -84px;
  }
  .animated-description {
    width: 90%;
    height: 112px;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .swiper_container {
    width: 346.29px;
    height: 500.75px;
    overflow-x: hidden;
    align-items: center;
  }
  .slider-container {
    padding: 0rem 0rem;
    margin: 0 0;
  }
  .swiper-slide {
    width: 100%;
    height: 244.75px;
    border-radius: 10px;
    /* transform: translateX(35%); */
  }
  .slider-controler {
    bottom: 16rem;
    z-index: 99;
  }

  .active-img {
    width: 95%;
    border-radius: 5px;
    box-shadow: 0px 8px 24px -3px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #d4d4d4; */
    height: 244.75px;
    object-fit: fill;
    transform: translateX(9px);
  }
  .not-active-img {
    display: none;
  }
  .slider-btn {
    /* border: 2px solid rebeccapurple; */
    width: 274px;
    left: 15px;
    top: 18.46px;
  }
  .slider-controler .swiper-button-prev {
    /* border: 2px solid red; */
    left: 20% !important;
    top: 0;
    transform: translateX(-20%) !important;
  }
  .slider-controler .swiper-button-next {
    /* border: 2px solid red; */
    top: 0;
    left: 80% !important;
    transform: translateX(-30%) !important;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 130px;
  }
  .swiper-pagination {
    transform: translateY(3px);
  }
  .slider-controler .slider-arrow {
    background: #6647ff;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    width: 90%;
    margin-top: 32px;
  }
  .animated-description {
    width: 90%;
    height: 112px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: center;
  }
}
