/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 769px) {
  .hideScrollbar::-webkit-scrollbar {
    display: block;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* font-style: 'Montserrat', sans-serif; */
  font-family: 'Inter', sans-serif;
}
.searchBox::-webkit-scrollbar {
  display: none;
}

.noscroll {
  overflow-y: hidden;
}

@layer components {
  .btn {
    @apply p-3 rounded-md flex text-[#ffffff] items-center justify-center text-base;
  }
  .center {
    @apply flex items-center justify-center;
  }
  /* .center-v center's the element in vertical direction */
  .center-v {
    @apply flex items-center;
  }
  .icons {
    @apply w-8 h-10 cursor-pointer;
  }
  .icon {
    @apply w-8 h-6 text-black;
  }
}

/* @layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
} */

.primary-btn {
  background-color: #6647ff;
  border-radius: 4px;
  color: white;
  padding: 8px 24px;
  width: 100%;
}
.primary-btn:hover {
  background-color: #5d40ee;
}
.primary-btn:active {
  background-color: #553adc;
}

/* //scrollbar  */
/* .testScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #fcfcfc;
  overflow: auto;
  border-radius: 100px;
}

.testScrollbar::-webkit-scrollbar-button {
  display: none;
}

.testScrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff0101 !important;
  transition: all 0.5s ease;
} */

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #fcfcfc;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fcfcfc;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d30c0c;
    border-radius: 10px;
    border: 3px solid #fcfcfc;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none !important;
  }

  [data-testid='toast'] {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
