/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* font-style: 'Montserrat', sans-serif; */
  font-family: 'Inter', sans-serif;
}
.searchBox::-webkit-scrollbar {
  display: none;
}

.noscroll {
  overflow-y: hidden;
}

@layer components {
  .btn {
    @apply p-3 rounded-md flex text-[#ffffff] items-center justify-center text-base;
  }
  .center {
    @apply flex items-center justify-center;
  }
  /* .center-v center's the element in vertical direction */
  .center-v {
    @apply flex items-center;
  }
  .icons {
    @apply w-8 h-10 cursor-pointer;
  }
  .icon {
    @apply w-8 h-6 text-black;
  }
}
