.navbar {
  box-shadow: 0 1px 15px #f2f2f2;
  height: 64px;
  width: 100%;
  z-index: 105;
}
.nav li:hover {
  font-size: 14px;
  font-weight: 500;
}
.logo {
  width: 103px;
  /* border: 2px solid red; */
}
.left-nav {
  display: flex;
  justify-content: center;
}
.nav-details {
  width: 650px;
  /* border: 2px solid red; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  color: #404040;
  padding: 0 2px;
  display: inline-block;
  position: relative;
  opacity: 1;
}

.special {
  background-image: linear-gradient(to right, rgba(189, 0, 255, 1), rgba(0, 182, 222, 1));
  -webkit-background-clip: text; /* For webkit-based browsers */
  background-clip: text; /* Set the background-clip property to text */
  color: transparent;
}
.hamberger-menu {
  display: none;
}
.upgrade {
  opacity: 0;
  width: 9px;
  height: 8px;
}
.active-upgrade {
  opacity: 1;
  transition: all 200ms ease-in;
  width: 9px;
  height: 8px;
}
.nav-link:hover {
  transition: all 100ms ease-in;
  font-weight: bolder;
}
.nav-link:hover {
  opacity: 1;
}
.mobile {
  display: none;
}
.nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  justify-content: start;
  width: 70%;
}
.right-nav {
  width: 190px;
  height: 36px;
  /* border: 2px solid red; */
  margin-left: 240px;
}
.btn-primary {
  background-color: #f3f2ff;
  width: 85px;
  height: 36px;
  gap: 12px;
  border-radius: 4px;
  opacity: 1;
}
.btn-secondary {
  background-color: #6647ff;
  width: 85px;
  height: 36px;
  gap: 12px;
  border-radius: 4px;
  opacity: 1;
}
.nav-link::after {
  content: ''; /* Ensure content is empty for pseudo-element */
  width: 0%; /* Set initial width to 0 */
  height: 2px; /* Set the height of the underline */
  background-color: #6647ff; /* Set the color of the underline */
  position: absolute; /* Position the underline absolutely */
  bottom: 0px; /* Align the underline to the bottom of the link */
  left: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 300ms ease-in;
}
.active::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #6647ff;
  position: absolute;
  bottom: -6px;
  left: 0px;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 300ms ease-in;
}
@keyframes SlideIn {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.active::after {
  animation: SlideIn 300ms ease-in forwards;
}
@media only screen and (min-width: 768px) {
  .right-nav {
    margin-left: -10px;
  }
  .left-nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .logo {
    margin-right: 0rem;
  }
  .nav {
    justify-content: space-between;
    gap: 2rem;
  }
  .nav-details {
    width: 500px;
    margin-left: -40px;
    /* border: 2px solid red; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .logo {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .left-nav {
    width: 100%;
    display: flex;
    justify-content: normal;
    padding-left: 32px;
  }
  .nav-res {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 15px #f2f2f2;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    z-index: 999;
    justify-content: flex-start;
    padding-left: 16px;
    height: 314px;
    padding-right: 28px;
    align-items: flex-end;
  }
  .nav-item {
    margin-top: 10px;
    height: 40px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .nav-details {
    width: 98%;
    border-bottom: 2px solid #ececec;
    height: 75%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
  }
  .btn-res {
    /* border: 2px solid red; */
    display: flex;
    width: 190px;
    height: 36px;
    position: absolute;
    right: 33px;
    bottom: 22px;
  }
  .navbar .nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .nav li {
    width: 100%;
    padding: 12px 0;
    text-align: center;
  }

  .hamberger-menu {
    display: flex;
    height: 32px;
    width: 32px;
    margin-right: 26px;
  }
  .hamberger-menu Image {
    width: 100%;
    height: 100%;
  }
  .link {
    text-align: left;
  }
}
@media only screen and (max-width: 375px) {
  .navbar {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-nav {
    width: 100%;
    display: flex;
    justify-content: normal;
    padding-left: 12px;
  }
  .mobile {
    display: block;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    padding-left: 20px;
    height: 35px;
    margin-left: 0px;
    color: #6647ff;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
  }
  .nav-item:nth-child(1) li,
  .nav-item:nth-child(2) li,
  .nav-item:nth-child(10) li {
    display: flex;
    align-items: center;
  }
  .nav-item:nth-child(1):hover,
  .nav-item:nth-child(2):hover,
  .nav-item:nth-child(10):hover {
    background-color: #ececec;
    color: #404040;
  }
  li {
    width: 100%;
    height: 30px;
    /* border: 2px solid red; */
  }
  .nav-details {
    width: 100%;
    border-bottom: none;
    height: 80%;
    padding-inline: 6px;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
  }
  .profile {
    display: flex;
    margin-top: 6px;
    height: 40px;
    /* border: 2px solid red; */
    justify-content: space-between;
    width: 100%;
    padding-inline: 6px;
    align-items: center;
    margin-bottom: -13px;
  }
  .profile-info {
    display: flex;
    height: 100%;
    width: 60%;
    /* border: 2px solid red; */
    align-items: center;
  }
  .name {
    /* border: 2px solid red; */
    width: 100%;
  }
  .notifi-icons {
    height: 24px;
    width: 24px;
    color: #6647ff;
  }
  .notifications {
    display: flex;
    width: 74px;
    /* border: 2px solid red; */
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
  }
  .mobile:hover {
    background-color: #6647ff;
    color: #fff;
  }
  .nav-item {
    /* margin-top: 6px; */
    height: 50px;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
    height: 46px;
  }

  .nav-res {
    padding-left: 0;
    padding-right: 0;
    height: 400px;
  }
  .logo {
    width: 73px;
    height: 31px;
    margin-right: 0;
  }
  .logo a .img {
    width: 100%;
    height: 100%;
  }
  .btn-res {
    bottom: 30px;
  }
  .hamberger-menu {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    margin-right: 16px;
  }
  .hamberger-menu Image {
    width: 100%;
    height: 100%;
  }
}
