.search-box {
  width: 100%;
  /* border: 2px solid red; */
}
.search-icon {
  position: absolute;
  top: 35%;
  left: 13%;
  z-index: 101;
}
.pointer-events-none {
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  /* border-radius: 20px; */
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  width: 80%;
}
.search-input:hover {
  box-shadow: 5px 5px 10px #dfdfdf;
  /* border-radius: 20px; */
}

.search-input::placeholder {
  padding-left: 4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.search-input-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search-input2 {
  border-bottom: 1px solid white;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  position: relative;
  z-index: 100;
  width: 80%;
}
.search-input2:focus {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  position: relative;
  border-bottom: 1px solid white;
  z-index: 100;
}
.searchBox {
  /* borde: 20px; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 10px #d4d4d4;
  position: relative;
  z-index: 99;
  /*top: -15px;*/
  left: 0;
  width: auto;
  margin: auto;
}
.search-input {
  /*width: 688px;*/
  cursor: pointer;
}
@media only screen and (max-width: 768px) and (min-width: 375px) {
  .searchBox {
    z-index: 10;
  }
}
@media only screen and (max-width: 375px) {
  .searchBox {
    z-index: 10;
  }
  .search-input {
    /*width: 342px;*/
    height: 48px;
    cursor: pointer;
    padding: 9px 23px 9px 23px;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
  }
  .search-input::placeholder {
    padding-left: 1rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 343px) {
  .search-box {
    width: 95%;
  }
  .search-input {
    height: 48px;
    cursor: pointer;
    padding: 9px 23px 9px 23px;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
  }
}
