.rdw-editor-toolbar {
  border: none;
  padding: 0px 0px 0px -8px;
}
.rdw-option-wrapper {
  border: none;
}

.rdw-option-active {
  border: none;
  background: #f3f2ff;
  box-shadow: none;
}

.rdw-option-wrapper:hover {
  box-shadow: none;
  background: #f3f2ff;
}

.rdw-text-align-wrapper {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .rdw-text-align-wrapper {
    display: none;
  }
}
